fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-groq
langchain-community
requests
pymongo
pinecone-client
langchain-pinecone
sentence-transformers
langchain-core
pypdf
passlib[bcrypt]
motor
langchain-huggingface
pymongo[srv]